services {
.tile{
    text-align: center;
    font-size:12px;
    font-weight:bold;
    color:#0b1839;
    text-transform: uppercase
}
.toolbar-background-md {
    background: #0c4393  !important;
}
.yellowcard {
    background: #fff;
    border-radius: 4px;
    padding: 32px 10px;
    min-height: 106px;
}
.yellowcard  img {
    width: 55px;
    height: 55px;
}
.searchbar-md .searchbar-input {
    border-radius: 21px !important;
    box-shadow: none !important;
}
.col {
    padding:2px !important;
}
.bgcolor {
    background:#d6ddee;
padding:10px;
}
.bgcolor img {
    width:199px;
    margin:auto;

}
.scroll-content {
    overflow-y: auto !important;
  }
.swiper-pagination-bullet {
    background: transparent !important;
    border:1px solid  #ffd41c !important;
}
.swiper-pagination-bullet-active {
    background:#ffd41c !important;
}
}
