
 <!-- <div class="bgcolor">
    <h3 style="text-align: center">
        
   
   </h3>
</div>  -->
<div>
<ion-searchbar>
</ion-searchbar> 
</div>
<img src="assets/main/image.jpg">
<!-- <div style="height:166px;"> 
<ion-slides  autoplay="4000" loop="true" speed="500" pager>

    <ion-slide>
      
        <img src="assets/serviceslogo/banner3.jpg">
       
      </ion-slide>
  
    <ion-slide>
        <img src="assets/serviceslogo/banner4.jpg">
    </ion-slide>
  
    <ion-slide>
        <img src="assets/serviceslogo/banner2.jpg">
    </ion-slide>
    <ion-slide>
            <img src="assets/serviceslogo/banner1-1.jpg">
        </ion-slide>
  
  </ion-slides>
 </div> -->
<!-- <img src="assets/serviceslogo/banner3.jpg"> -->
<ion-grid>
   
    <ion-row>

        <!-- <ion-col col-4 style="text-align:center;">
            <div class="yellowcard">
                <img src="assets/serviceslogo/1.png" (click)="nextpage()">
                <div class="tile">Courier</div>
            </div>
        </ion-col> -->
        <ion-col col-6 style="text-align:center;padding:2px !important;">
            <div class="yellowcard">
                <img src="assets/main/Events.png" (click)="info('events')">
                <div class="tile">Events</div>
            </div>
        </ion-col>
        <ion-col col-6 style="text-align:center;padding:2px !important;">
            <div class="yellowcard">
                <img src="assets/main/CATERING.png" (click)="Catering()">
                <div class="tile">Catering</div>
            </div>
        </ion-col>
       
        <!-- <ion-col col-4 style="text-align:center;">
            <div class="yellowcard">
                <img src="assets/serviceslogo/elder.png" (click)="info('elder')">
                <div class="tile">Elder Care</div>
            </div>
        </ion-col>
         -->
        
        

    </ion-row>
    <ion-row>
           
        <ion-col col-6 style="text-align:center;">
               
            <div class="yellowcard">
                <img src="assets/main/TUtors&Training.png" (click)="info('tutors')">
                <div class="tile">Tutors/Training</div>
            </div>
        </ion-col>
        <ion-col col-6 style="text-align:center;">
            <div class="yellowcard">
                <img src="assets/main/Beauty&Spa.png" (click)="spanew()">
                <div class="tile">Beauty & Spa</div>
            </div>
        </ion-col>
                <!-- <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/16.png"   (click)="info('appliances')">
                        <div class="tile">Home Appliances</div>
                    </div>
                </ion-col> -->
                
       
       
      
    </ion-row>
    <!-- <ion-row>
            <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/13.png" (click)="info('maid')">
                        <div class="tile">Maid Services</div>
                    </div>
                </ion-col>
                <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/18.png" (click)="info('health')">
                        <div class="tile">Health & Fitness</div>
                    </div>
                </ion-col>
      

       
        <ion-col col-4 style="text-align:center;">
            <div class="yellowcard">
                <img src="assets/serviceslogo/5.png" (click)="info('beauty')">
                <div class="tile">Beauty & Spa</div>
            </div>
        </ion-col>

       
    </ion-row> -->
    <!-- <ion-row>
            <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/12.png" (click)="info('pets')">
                        <div class="tile">Pets</div>
                    </div>
                </ion-col>
            <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/17.png" (click)="info('professional')">
                        <div class="tile">Professional Services</div>
                    </div>
                </ion-col>
                <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/15.png" (click)="info('restaurants')">
                        <div class="tile">Multiple Restaurants</div>
                    </div>
                </ion-col>
                   

    </ion-row> -->
    <!-- <ion-row>
            <ion-col col-4 style="text-align:center;">
                    <div class="yellowcard">
                        <img src="assets/serviceslogo/2.png" (click)="info('maintanance')">
                        <div class="tile">Home maintance</div>
                    </div>
                </ion-col>
        </ion-row> -->

</ion-grid>