page-login {
    ion-content {
        background-image: url('../assets/serviceslogo/bg_login.png')!important;
        background-size: 100% 100% !important;
        text-align: center;
       
    }
    h2 {
        color:#fff;
        margin-top:20px;
        font-weight: lighter;
    }
    img {
       width:200px;
       margin:auto;
       margin-top:20px;
    }
  .input1{
padding: 10px;
border:none !important;
border-bottom:1px solid #d8abe9 !important;
width:85%;
margin:auto;
margin-bottom:40px;
color:#fff;
background: transparent;
  }
.login {
    webkit-box-shadow:0px 10px 30px rgba(95,136,233,0.4);
    background: #351e3e !important;
    padding: 20px 57px !important;
    color:#fff !important;

}
.button-inner {
    color:#fff !important;
}
.scroll-content {
    overflow-y: auto !important;
  }
}
