<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content  hide-nav-bar="true">
    <br>
    <br>
    <br>
    <br>
  <!-- <h2>Login</h2> -->
<img src="assets/serviceslogo/logo_login.png" alt="logo">
<br>
<br>
 
<input type="text" [(ngModel)]="username"  placeholder="Email Id" class="input1">

<input type="password"  [(ngModel)]="password"  placeholder="Password" class="input1">
<br><br><br><br><br><br>
<button  color="rose" ion-button class="login" (click)="login()">Login</button>
<button  color="rose" ion-button class="login" (click)="signUp()">SignUp</button>


</ion-content>
