<!--
  Generated template for the TutorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" (click)="homeNew()" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-tabs  [ngClass]="{'hidden': hideTabs}">
        <ion-tab [root]="tab1Root" tabTitle=" Education"  tabsHideOnSubPages="true"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Sports" tabsHideOnSubPages="true"></ion-tab>
        
      </ion-tabs> 
</ion-content>
