<ion-content  hide-nav-bar="true">
  <br>
  <br>
  <br>
  <br>
<!-- <h2>Login</h2> -->
<img src="assets/serviceslogo/logo_login.png" alt="logo">
<br>
<br>



<form  [formGroup]="todo" (ngSubmit)="logForm()">
  <input type="email"  name="email"  formControlName="email" placeholder="Email *" class="input1">
  <ng-container *ngFor="let validation of validation_messages.email" >
      <div class="error-message" *ngIf="todo.get('email').hasError(validation.type) && (todo.get('email').dirty || todo.get('email').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
     
     <input type="text"  name="name"  formControlName="name"  placeholder="User Name *" class="input1">
  <ng-container *ngFor="let validation of validation_messages.name">
      <div class="error-message" *ngIf="todo.get('name').hasError(validation.type) && (todo.get('name').dirty || todo.get('name').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
      <input type="password" placeholder="Password"  formControlName="password" class="input1">
      
     
      
      <div no-lines *ngIf="( todo.get('password').hasError('required') ) && todo.get('password').touched">
      
      <div class="error" *ngIf="todo.get('password').hasError('required') && todo.get('password').touched">
      Password is required
      </div>
      
      </div>
      
      
     
     
      <input type="password" placeholder="Confirm Password"  formControlName="re_password" class="input1">
      
     
      
      <div no-lines *ngIf="( todo.get('re_password').hasError('equalTo') || todo.get('re_password').hasError('required') ) && todo.get('re_password').touched">
      
      <div class="error" *ngIf="todo.get('re_password').hasError('required') && todo.get('re_password').touched">
      Confirm password is required
      </div>
      <div class="error" *ngIf="todo.get('re_password').hasError('equalTo') && todo.get('re_password').touched">
      Password Mismatch
      </div>
      </div>
      
  
  <input type="text"   name="mobileNumber"   formControlName="mobileNumber" placeholder="Mobile Number *"  class="input1">
  <ng-container *ngFor="let validation of validation_messages.mobileNumber" >
      <div class="error-message" *ngIf="todo.get('mobileNumber').hasError(validation.type) && (todo.get('mobileNumber').dirty || todo.get('mobileNumber').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
    
  
   
  <div style="clear:both;"></div>
 <!-- <div class="gender">
  
  <ion-list radio-group   name="gender" formControlName="gender">
      <ion-row>
          <span class="text-left" style="text-align: left !important;font-size:12px;color:#fff;line-height:30px;" col-2>Gender</span>
  
      <ion-item class="newBg" col-5>
        <ion-label style="font-size:12px !important;">Female</ion-label>
        <ion-radio value="Female" ></ion-radio>
      </ion-item>
      <ion-item class="newBg"  col-5>
        <ion-label style="font-size:12px !important;">Male</ion-label>
        <ion-radio value="Male"></ion-radio>
      </ion-item>
    </ion-row>
    </ion-list>
    
    </div>  -->
  
  <button  color="rose" type="submit"    ion-button class="login">Submit</button>

</form>


</ion-content>