page-modal {
    ion-calendar{
        padding:10px 0px !important;
    }
    ion-calendar-week .week-title.transparent {
        color:#fff !important;
        background: #0c4393;
    }
    .button-inner{
     //   color:#fff !important;
    }
}
