<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="main-view">
    <ion-icon  style="float:right" (click)="closeModal()" name="close"></ion-icon>
    <div class="modal_content">
        <ion-calendar ></ion-calendar>
</div>
</ion-content>
