<!--
  Generated template for the MaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content padding>
<div style="padding:10px;">
  <div>
  <img   src="assets/serviceslogo/age.png" style="height:30px;float:left;" >
  <h5 class="heading">
   
  <span style="float:left;line-height: 31px;"> &nbsp; Enter Area</span>
 
</h5>
<ion-item class="border">
<input type="text"  [(ngModel)]="area"  class="input1">
</ion-item>
</div>
<div>
    <img   src="assets/serviceslogo/age.png" style="height:30px;float:left;" >
    <h5 class="heading">
     
    <span style="float:left;line-height: 31px;"> &nbsp; Select Religion</span>
   
  </h5>
  <div style="clear:both"></div>
 
  <ion-list  style="clear:both" radio-group [(ngModel)]="Religion">
      <ion-row>
      <ion-item col-6>
        <ion-label>Hindu</ion-label>
        <ion-radio value="Hindu" checked></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>Muslim</ion-label>
        <ion-radio value="Muslim"></ion-radio>
      </ion-item>
      </ion-row>
      <ion-row>
      <ion-item col-6>
          <ion-label>Christian</ion-label>
          <ion-radio value="Christian"></ion-radio>
        </ion-item>
        <ion-item col-6>
            <ion-label>Others</ion-label>
            <ion-radio value="Others"></ion-radio>
          </ion-item>
        </ion-row>
    </ion-list>
  
  </div>

  <div>
      <img   src="assets/serviceslogo/age.png" style="height:30px;float:left;" >
      <h5 class="heading">
       
      <span style="float:left;line-height: 31px;"> &nbsp; Select Hours</span>
     
    </h5>
   
        <ion-item class="border">
            <ion-label>Hours</ion-label>
            <ion-select [(ngModel)]="new_selected" (ionChange)="showselected(new_selected)">
                <ion-option    *ngFor="let item of hours" value="{{item.label}}"> {{item.label}}</ion-option>
                 
              
            </ion-select>
          
    </ion-item>
    </div>
    <div>
        <img   src="assets/serviceslogo/age.png" style="height:30px;float:left;" >
        <h5 class="heading">
         
        <span style="float:left;line-height: 31px;"> &nbsp; Select Gender</span>
       
      </h5>
      <div style="clear:both"></div>
     
      <ion-list  style="clear:both" radio-group [(ngModel)]="Gender">
          <ion-row>
          <ion-item col-6>
            <ion-label>Female</ion-label>
            <ion-radio value="Female" checked></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-label>Male</ion-label>
            <ion-radio value="Male"></ion-radio>
          </ion-item>
          </ion-row>
         
        </ion-list>
      
      </div>
      
      <div>
          <img   src="assets/serviceslogo/age.png" style="height:30px;float:left;" >
          <h5 class="heading">
           
          <span style="float:left;line-height: 31px;"> &nbsp; What Services Do you want ?</span>
         
        </h5>
        <div style="clear:both"></div>
       
        <ion-item class="border">
            <ion-label>Services</ion-label>
            <ion-select  multiple [(ngModel)]="service_selected" (ionChange)="serviceselected(service_selected)">
                <ion-option    *ngFor="let item of services" value="{{item.label}}"> {{item.label}}</ion-option>
                 
              
            </ion-select>
          
    </ion-item>
        
        </div>
        

      
</div>
</ion-content>

<ion-footer>
    <div style="padding:10px;">
      <ion-item style="background:transparent !important;">
          <button class="button-color" (click)="maidServices()" ion-button outline>Next</button>
        </ion-item>
        </div>
    </ion-footer>