page-booking {
.heading {
    text-align:center;
}
.button-md, .button-ios, .button-wp {
   
}
.day {
    color:#ccc;
    font-size:15px;
}
.date {
    color:#000;
    font-size:19px;
}
.bg {
    background: #261c33;
    width:99%;
    margin:auto;
    border-radius:50px;
}
}
