<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="font-size: 1rem"><img   src="assets/icon/icon.png"></ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
    <h5 class="heading">
        <br>
      <br>
     When would you like to service
      <br>
      <br>
    </h5>

    <ion-grid>
        <ion-row>
        <ion-col col-3 text-center>
              <button ion-button outline (click)="addEvent();" [ngStyle]="{'background-color': buttonColor}"> {{today |  date: 'dd'}}
                {{today |  date: 'MMM'}}
                 
              </button>
          </ion-col>
          <ion-col col-3>
              <button ion-button outline (click)="addColor();" [ngStyle]="{'background-color': buttonColor1}">
                  {{tomorrow |  date: 'dd'}}
                  {{tomorrow |  date: 'MMM'}}
                </button>
               
              
               
          </ion-col>
          <ion-col col-3>
              <button ion-button outline (click)="thirdDay();" [ngStyle]="{'background-color': buttonColor2}">
                  {{other |  date: 'dd'}}
                  {{other |  date: 'MMM'}}
              </button>
            </ion-col>
            <ion-col col-3>
                <button ion-button outline (click)="fourthDay();" [ngStyle]="{'background-color': buttonColor3}">
                    {{after |  date: 'dd'}}
                    {{after |  date: 'MMM'}}
                </button>
              </ion-col>
            
        </ion-row>
        
      </ion-grid>

      <h5 class="heading">
          <br>
       
      At What time should be Professional Arrive?
        <br>
        <br>
      </h5>
        <ion-row>
            <ion-col col-3 text-center>
                  <button ion-button outline> 1:30 pm
                     
                  </button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button outline>
                      2:00 pm
                    </button>
                   
                  
                   
              </ion-col>
              <ion-col col-3>
                  <button ion-button outline>
                     2:30 pm
                  </button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button outline>
                        3:00 pm
                    </button>
                  </ion-col>
                
                
            </ion-row>
            
            <ion-row>
                <ion-col col-3 text-center>
                      <button ion-button outline> 3:30 pm
                         
                      </button>
                  </ion-col>
                  <ion-col col-3>
                      <button ion-button outline>
                          4:00 pm
                        </button>
                       
                      
                       
                  </ion-col>
                  <ion-col col-3>
                      <button ion-button outline>
                         4:30 pm
                      </button>
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button outline>
                            5:00 pm
                        </button>
                      </ion-col>
                    
                    
                </ion-row>
                <br>
                <br>
                <button ion-button class="bg">Next &nbsp;&nbsp; <ion-icon name="arrow-forward"></ion-icon></button>
</ion-content>
