<!--
  Generated template for the FoodDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar style="white-space:nowrap">
      <button ion-button menuToggle start>
       <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
      </button>
      
      <ion-buttons end>
          <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
          
        </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  
        <ion-tabs>
            <ion-tab [root]="tab1Root" tabsHideOnSubPages="true"  tabTitle="Veg" ></ion-tab>
            <ion-tab [root]="tab2Root" tabsHideOnSubPages="true"  tabTitle="Non Veg"></ion-tab>
            
          </ion-tabs> 
          
    </ion-content>
    <ion-footer>
      <ion-item style="background:transparent !important;">
        <button class="button-color"  (click)="foodTotal()" ion-button outline>Next</button>
      </ion-item>
    </ion-footer>
   
    

