<!--
  Generated template for the MaidNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content>
<div style="padding:10px;">
  <form  [formGroup]="todo" (ngSubmit)="logForm()">
  <div  class="search-boxes">
      <img   src="assets/serviceslogo/location.png" class="positionIcon">
      <h5 class="heading">
       
      <span> &nbsp; Enter Area</span>
     
    </h5>
      
          <ion-item>
            <input class="inputClass" placeholder="Enter  location" formControlName="location" [(ngModel)]="model.toAddress" autocorrect="off" type="text"  #dropAddress>
          </ion-item>
     
    </div>
  <ng-container *ngFor="let validation of validation_messages.location">
    <div class="error-message" *ngIf="todo.get('location').hasError(validation.type) && (todo.get('location').dirty || todo.get('location').touched)">
        {{ validation.message }}
          </div>
      
   </ng-container>
 <div>
    <img   src="assets/serviceslogo/calendar.png" class="positionIcon">
<h5 class="heading">
 
<span> &nbsp; On which date do you want?</span>

</h5>
<div style="clear: both;"></div>
<ion-calendar  [(ngModel)]="date"
(onChange)="onChange($event)"
[type]="type"
[format]="'YYYY-MM-DD'" formControlName="date" name="date">
</ion-calendar>
   </div>

   <ng-container *ngFor="let validation of validation_messages.date">
    <div class="error-message" *ngIf="todo.get('date').hasError(validation.type) && (todo.get('date').dirty || todo.get('date').touched)">
        {{ validation.message }}
          </div>
      
   </ng-container>
      <div>
          <img   src="assets/serviceslogo/time.png"class="positionIcon" >
          <h5 class="heading">
           
          <span> &nbsp; Choose Event</span>
         
        </h5>
       
            <ion-item class="border">
                <ion-label>Events</ion-label>
                <ion-select multiple [(ngModel)]="new_selected" formControlName="new_selected" (ionChange)="showselected(new_selected)">
                    <ion-option    *ngFor="let item of hours" value="{{item.label}}"> {{item.label}}</ion-option>
                     
                  
                </ion-select>
              
        </ion-item>
        </div>
        <ng-container *ngFor="let validation of validation_messages.new_selected">
          <div class="error-message" *ngIf="todo.get('new_selected').hasError(validation.type) && (todo.get('new_selected').dirty || todo.get('new_selected').touched)">
              {{ validation.message }}
                </div>
            
         </ng-container>
         <div>
         <img   src="assets/serviceslogo/time.png" class="positionIcon">
         <h5 class="heading">
          
         <span> &nbsp; Time</span>
         
         </h5>
              <ion-item class="border">
               <ion-label>Time</ion-label>
               <ion-datetime displayFormat="HH:mm" [(ngModel)]="time" formControlName="time"></ion-datetime>
             </ion-item>
             <ng-container *ngFor="let validation of validation_messages.time">
               <div class="error-message" *ngIf="todo.get('time').hasError(validation.type) && (todo.get('time').dirty || todo.get('time').touched)">
                   {{ validation.message }}
                     </div>
                 
              </ng-container>
              </div>
        <div>
          <img   src="assets/serviceslogo/hand.png" class="positionIcon" >
          <h5 class="heading">
                
             
               <span> &nbsp;Budget Starts from 10k</span>
            
            </h5>
          
          <div style="clear:both"></div>
         
              </div>
          
              <button   type="submit" class="button-color"  style="width:100%;color:#fff;"  [disabled]="!todo.valid"  ion-button outline>Submit</button>
    

            </form>
</div>
</ion-content>
<!-- <ion-footer>
  <ion-item>
      <button (click)="NormalCourier()" class="button-color" ion-button outline>Next</button>
    </ion-item>
</ion-footer> -->
