<!--
  Generated template for the MaidNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content>
<div style="padding:10px;">
 
  <div>
    <img   src="assets/serviceslogo/firework.png" style="height:20px;float:left;margin-top:4px;" >
    <h5 class="heading1">
          
       
         <span style="float:left;line-height:30px;"> &nbsp;Choose your plans </span>
      
      </h5>
    
    <div style="clear:both"></div>
    <div *ngIf="label=='Rica Waxing'">
    <ion-list>
      <ion-item  *ngFor="let item of allservices">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end" (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Regular Waxing'">
    <ion-list>
      <ion-item  *ngFor="let item of regularWaxing">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end"  (ionChange)="regular($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Facial'">
    <ion-list>
      <ion-item  *ngFor="let item of facial">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end"(ionChange)="datachanged($event,item.label)" ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Pedicure'">
    <ion-list>
      <ion-item  *ngFor="let item of pedicure">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end" (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Manicure'">
    <ion-list>
      <ion-item  *ngFor="let item of maicure">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end" (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Hair'">
    <ion-list>
      <ion-item  *ngFor="let item of hair">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end" (ionChange)="datachanged($event,item.label)" ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Threading'">
    <ion-list>
      <ion-item  *ngFor="let item of threading">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end"  (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Bleach'">
    <ion-list>
      <ion-item  *ngFor="let item of bleach">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end"  (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="label=='Detan'">
    <ion-list>
      <ion-item  *ngFor="let item of detan">
        <ion-label> {{item.label}}</ion-label>
        <ion-checkbox slot="end"  (ionChange)="datachanged($event,item.label)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
     
  
        </div>
 


</div>
</ion-content>
<ion-footer>
  <ion-item>
      <button (click)="spaFinal()" class="button-color" ion-button outline><span style="color:#fff !important">Next</span></button>
    </ion-item>
</ion-footer>
