page-spa-details {
  
    .scroll-content {
        overflow-y: auto !important;
        padding:0px !important;
      }
    .toolbar-background-md {
        background: #0c4393 !important;
    }
    .input1{
        padding: 10px;
        border:none !important;
       // border-bottom:1px solid #ccc !important;
        width:100%;
       
        background: transparent;
        color:#000;
          }
          .label-md {
            margin:0px !important;
        }
        .item-md.item-block .item-inner {
            border-bottom:none !important;
        }
        span.button-inner{
          color:#333;
        }
        ion-icon.back-button-icon.icon.icon-md.back-button-icon-md.ion-md-arrow-back{
          color:#fff !important;
        }
        
}
