location {
    agm-map {
        height:80%;
    }
    #courierMap{
        height:80% !important;
    }

}

.scroll-content{
  padding: 0px !important;
  overflow-y: hidden !important;
}
ion-label{
    margin:0 !important;
}
.toolbar-background-md{
    background:none !important;
}
ion-content {
    background:#eeecef !important;
}
.button-md {
    border-radius:13px !important;
}
.action-sheet-md .action-sheet-button{
    font-size: 1.2rem !important;
    min-height: 3rem !important;
}
.classname{
    background-color: red;
  }
  .btn {
    background-color:#fff;
    color:#0c4393 !important;
}
  .btnActive
{
 background-color:#0c4393 
}
.btnActive span
{
 color:#fff !important;
}

.forbtn .button-outline-md  .button-inner {
    //color:#313034 !important;
    font-weight:bold;
}

    .inputClass {
        padding: 0px;
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    .heading {
        text-align:left;
        color:#313034;
        font-weight:lighter;
    }
    .scroll-content {
        overflow-y: auto !important;
      }
    
    .day {
        color:#ccc;
        font-size:15px;
    }
    .date {
        color:#000;
        font-size:19px;
    }
    .webkit-scrollbar {
        display: none;
      }