

   

  

<ion-content padding>
    <div style="background-image: url('assets/serviceslogo/bg_inner.png');background-size: 100% 100%;
    height: 297px;">
    <ion-header>
        <ion-navbar style="white-space:nowrap">
          <button ion-button menuToggle start>
           <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
          </button>
          
          <ion-buttons end>
              <img   src="assets/serviceslogo/logo_small.png" style="height:50px;">
            </ion-buttons>
        </ion-navbar>
      </ion-header>
   
     
      </div>
      <div style="padding:10px;">
      <div style="margin-top:20px;">
      <img   src="assets/serviceslogo/location.png" style="height:30px;float:left;margin-top:-9px;" >
        <h5 class="heading">  &nbsp;Please enter your location</h5>
        </div>
    <ion-row class="search-boxes">
           
        <ion-col col-12 class="main-input">
            <ion-list>
                <ion-item>
                   
                  <input id="1" class="inputClass" style="border-radius: 16px !important;" placeholder="Enter  location" [(ngModel)]="model.fromAddress"  autocorrect="off" type="text"  #pickUpAddress>
                </ion-item>
            </ion-list>
        </ion-col>

        <!-- <ion-col col-12 class="main-input">
          <ion-list>
            <ion-item>
              <input id="2" class="inputClass" placeholder="Enter drop location" [(ngModel)]="model.toAddress" autocorrect="off" type="text"  #dropAddress>
            </ion-item>
        </ion-list>
        </ion-col> -->

    </ion-row>
   
  <!-- <agm-map [latitude]="model.fromLat" [longitude]="model.fromLng" [zoom]="18">
    <agm-marker [latitude]="model.fromLat" [longitude]="model.fromLng"></agm-marker>
  </agm-map> -->
  <!-- <div id="courierMap"></div> -->
  <div style="margin-top:30px;">
  <img   src="assets/serviceslogo/calendar.png" style="height:30px;float:left;margin-top: -7px;" >
  <h5 class="heading">
   
  <span> &nbsp; Your day of convenience ?</span>
 
</h5>
  <ion-grid>
    <ion-row class="forbtn">
    <ion-col col-3 text-center>
          <button ion-button outline (click)="addEvent();"  [ngStyle]="{'background-color': buttonColor}">
              <span  [ngStyle]="{'color':fontColor1}">      {{today |  date: 'dd'}}
                {{today |  date: 'MMM'}}</span>
             
          </button>
      </ion-col>
      <ion-col col-3>
          <button ion-button outline (click)="addColor();" [ngStyle]="{'background-color': buttonColor1}">
              <span  [ngStyle]="{'color':fontColor2}">    {{tomorrow |  date: 'dd'}}
              {{tomorrow |  date: 'MMM'}}</span>
            </button>
           
          
           
      </ion-col>
      <ion-col col-3>
          <button ion-button outline (click)="thirdDay();" [ngStyle]="{'background-color': buttonColor2}">
              <span  [ngStyle]="{'color':fontColor3}">   {{other |  date: 'dd'}}
              {{other |  date: 'MMM'}}</span>
          </button>
        </ion-col>
        <ion-col col-3>
            <button ion-button outline (click)="fourthDay();" [ngStyle]="{'background-color': buttonColor3}">
                <span  [ngStyle]="{'color':fontColor4}">   {{after |  date: 'dd'}}
                {{after |  date: 'MMM'}}</span>
            </button>
          </ion-col>
        
    </ion-row>
    
  </ion-grid>
</div>
<div style="margin-top:30px;">
  <img   src="assets/serviceslogo/time.png" style="height: 27px;
  float: left;
  margin-top: -5px;" >
  <h5 class="heading">
        
     
       <span> &nbsp;Your time of convenience ?</span>
    
    </h5>
   

      <ion-row class="forbtn">
          <!-- <ion-col col-3 text-center *ngFor="let item of subheading ;let i=index" >
                

                <button ion-button outline id="{{item.time}}" (click)="timeSelection(item.time,item.clicked,i,item);" [ngStyle]="item.time ? {'background-color': buttonColor4 }: null"> 
                   <span  [ngStyle]="{'color':fontColor}">{{item.time}}
                  </span>
               </button>

            </ion-col> -->
           
            
              
            
            <ion-col col-3 *ngFor="let item of subheading ;let i=index">
                <button  ion-button class="btn" outline id="i" ion-button [ngClass]="{'btnActive': selectedId===i}"(click)="btnActivate(i,item.time)">
                  <span style="color:#0c4393;"> {{item.time}}</span>
                
                </button>
                
              </ion-col>
                         
              
          </ion-row>
         


<ion-row  class="btn-select">
<ion-col width-50>
    <ion-list>
        
    </ion-list>
</ion-col>

</ion-row>
</div>
</div>
</ion-content>
<ion-footer>
    <ion-item style="background:transparent !important;">
        <button (click)="NormalCourier()" class="button-color" ion-button outline>Next</button>
      </ion-item>
  </ion-footer>