page-spa-new {
    .scroll-content {
        overflow-y: auto !important;
        padding:0px !important;
      }
    .toolbar-background-md {
        background: #0c4393 !important;
    }
    .input1{
        padding: 10px;
        border:none !important;
       // border-bottom:1px solid #ccc !important;
        width:100%;
       
        background: transparent;
        color:#000;
          }
          .label-md {
            margin:0px !important;
        }
        .item-md.item-block .item-inner {
            border-bottom:none !important;
        }
        .mybadge{
            padding: 6px 12px;
    margin-top:7px;
        }
        .positionIcon{
            height:20px;
            float:left;
           }
           .fs-26{
               font-size:26px;
           }
           .m-top{
               margin-top:-9px !important;
               margin-bottom: 16px;
           }
           .subheading{
            background:#0f4ca5;
            padding:10px;
           
          }
          .img-footer{
              height:26px;
          }
          .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
              background-image: none !important;
          }
}
