<!--
  Generated template for the MaidNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content>
    <!-- <div style="background:#4e3154;padding: 7px;">
      <span style="line-height: 33px;float:left;color:#fff;padding-left:10px;">Your Cart Count is</span>
<div>
        <img src="assets/serviceslogo/shopping-cart.png" style="width:27px;">
        <ion-badge color="primary" class="mybadge" >{{lengthnew}}</ion-badge>
</div>
        </div> -->
        <div class="subheading">
          <span style="font-size:18px;color:#fff;font-family: 'Fjalla One', sans-serif !important;"><img
              src="assets/serviceslogo/title.png" style="float:left;width:20px;line-height:35px;">&nbsp;&nbsp;Beauty &
            Spa</span>
        </div>
        <div style="clear:both"></div>
<div style="padding:10px;">
 
  
 <div>
    <img   src="assets/serviceslogo/calendar.png" class="positionIcon">
<h5 class="heading">
 
<span> &nbsp; On which date do you want?</span>

</h5>
<div><span class="fs-26">{{Date}} </span>{{Month}} {{year}}</div>
<div class="m-top">{{day}}</div>
<div style="clear: both;"></div>
<ion-calendar  [(ngModel)]="date"
(onChange)="onChange($event)"
[type]="type"
  name="date">
</ion-calendar>
   </div>

 </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-3>
    </ion-col>
    <ion-col col-6>
      <button (click)="logForm()" class="button-color" style="width:100%" ion-button outline><span
          style="color:#fff !important">Next</span></button>
    </ion-col>
    <ion-col col-3>
    </ion-col>
  </ion-row>
  <ion-row class="subheading">
    <ion-col col-3>
      <img src="assets/footer/home.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"   class="img-footer">
    </ion-col>
  </ion-row>
</ion-footer>
<!-- <ion-footer>
  <ion-item>
      <button (click)="NormalCourier()" 
      ="button-color" ion-button outline>Next</button>
    </ion-item>
</ion-footer> -->
