page-spa-list {
    .tile{
        text-align: center;
        font-size:12px;
        font-weight:bold;
        color:#333 !important;
        text-transform: uppercase
    }
    .toolbar-background-md {
        background: #0c4393  !important;
    }
    .yellowcard {
        background: #fff;
        border-radius: 4px;
        padding: 12px;
        min-height: 106px;
    }
    .yellowcard  img {
        width: 55px;
        height: 55px;
    }
    .button-color{
        background-color:#051022 !important;
    }
    .button-bg{
        background-color:#051022 !important;
        color:#fff !important;
    }
    .searchbar-md .searchbar-input {
        border-radius: 21px !important;
        box-shadow: none !important;
    }
    .col {
        padding:4px !important;
    }
    .bgcolor {
        background:#d6ddee;
    padding:10px;
    }
    .bgcolor img {
        width:199px;
        margin:auto;
    
    }
    .btn{
        padding:9px;
        // color:#fff;
        width:100%;
        border-radius:5px;
    }
    .mybadge{
        padding: 6px 12px;
        margin-top:3px;
    }
    .scroll-content {
        overflow-y: auto !important;
      }
    .swiper-pagination-bullet {
        background: transparent !important;
        border:1px solid  #ffd41c !important;
    }
    .swiper-pagination-bullet-active {
        background:#ffd41c !important;
    }
    .subheading{
      background:#0f4ca5;
      padding:10px;
     
    }
    .img-footer{
        height:26px;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none !important;
    }
}
