<!--
  Generated template for the MaidNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar style="white-space:nowrap">
      <button ion-button menuToggle start>
       <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
      </button>
      
      <ion-buttons end>
          <img src="assets/serviceslogo/logo_small.png" style="height:50px;">
          
        </ion-buttons>
    </ion-navbar>
  </ion-header> 
  
  
  
  <ion-content>
      <div>
          <ion-row>
                  <ion-col col-12 style="padding:0px !important;"> 
             <img src="assets/serviceslogo/banner8.jpg" style="width:100%;height:150px;">
          </ion-col>
             </ion-row>
              </div>
  <div style="padding:10px;">
    <form  [formGroup]="todo" (ngSubmit)="logForm()">
    <div  class="search-boxes">
        <img   src="assets/serviceslogo/location.png" class="positionIcon">
        <h5 class="heading">
         
        <span> &nbsp; Enter Area</span>
       
      </h5>
        
            <ion-item>
              <input class="inputClass" placeholder="Enter  location" formControlName="location"  [(ngModel)]="model.toAddress" autocorrect="off" type="text"  #dropAddress>
            </ion-item>
       
      </div>
    <ng-container *ngFor="let validation of validation_messages.location">
      <div class="error-message" *ngIf="todo.get('location').hasError(validation.type) && (todo.get('location').dirty || todo.get('location').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
   <div>
      <img   src="assets/serviceslogo/calendar.png" class="positionIcon">
  <h5 class="heading">
   
  <span> &nbsp; Your day of requirement  ?</span>
  
  </h5>
  <div style="clear: both;"></div>
  <ion-calendar   formControlName="date"  [(ngModel)]="date"
  (onChange)="onChange($event)"
  [type]="type"
  [format]="'YYYY-MM-DD'" name="date">
  </ion-calendar>
     </div>
  
     <ng-container *ngFor="let validation of validation_messages.date">
      <div class="error-message" *ngIf="todo.get('date').hasError(validation.type) && (todo.get('date').dirty || todo.get('date').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
     <div>
        <img   src="assets/serviceslogo/time.png" class="positionIcon" >
        <h5 class="heading">
              
           
             <span> &nbsp;Select time</span>
          
          </h5>
        </div>
        <div style="clear:both"></div>
          <ion-item style="margin-top:6px;" class="border">
              <ion-label>Time</ion-label>
             
              <ion-select [(ngModel)]="selected_value"  formControlName="selected_value" (ionChange)="showselected(selected_value)" >
                
                <ion-option    *ngFor="let item of allservices" value="{{item.label}}"> {{item.label}}</ion-option>
               
              </ion-select>
              
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.selected_value">
              <div class="error-message" *ngIf="todo.get('selected_value').hasError(validation.type) && (todo.get('selected_value').dirty || todo.get('selected_value').touched)">
                  {{ validation.message }}
                    </div>
                
             </ng-container>
            <div>
               <span> <i class="fa fa-users" style="float:left;margin-top:4px;font-size:17px;color:#43254c"></i></span>
               
    
                <h5 class="heading">
                      
                   
                     <span> &nbsp;Number of Plates</span>
                  
                  </h5>
                </div>
                <div style="clear:both"></div>
            <ion-item class="border">
                <input type="text"  [(ngModel)]="name"   formControlName="name" class="input1">
             </ion-item>
             
             <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="todo.get('name').hasError(validation.type) && (todo.get('name').dirty || todo.get('name').touched)">
                  {{ validation.message }}
                    </div>
                
             </ng-container>
       
             <div>  <span> <img   src="assets/serviceslogo/diet.png" class="positionIcon" >  </span>
                     
            <h5 class="heading">  <span > &nbsp;Veg starts from  Rs.210/Plate</span></h5>
             
           
           
            </div>
            <div>  <span> <img   src="assets/serviceslogo/nonveg.png" class="positionIcon" >  </span>
                     
              <h5 class="heading"> <span> &nbsp;Non veg starts from  Rs.300/Plate</span>
                </h5>
            
            </div>
              <div class="clearfix"></div>
              <button   type="submit" class="button-color"  style="width:100%;color:#fff;"  [disabled]="!todo.valid"  ion-button outline>Submit</button>
      
            </form>
  </div>
  </ion-content>
  <!-- <ion-footer>
    <ion-item>
        <button (click)="NormalCourier()" class="button-color" ion-button outline>Next</button>
      </ion-item>
  </ion-footer> -->
  