<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar style="white-space:nowrap">
      <button ion-button menuToggle start>
       <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
      </button>
      
      <ion-buttons  end>
         
  
          <img   src="assets/serviceslogo/logo_small.png"   style="height:50px;">
        </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-item>
    Menu
    </ion-item>
    <br>
    <ion-row>
      <ion-col col-4>
          <img   src="assets/serviceslogo/placeholder.png" class="rounded">
        </ion-col>
        <ion-col col-8>
          <h3>Hello,User</h3>
          <span>Here two steps to comple your profile</span>
          </ion-col>
      </ion-row>
      <ion-card>
      <ion-list>
        <ion-item>
          My Rating
          </ion-item>
          <ion-item>
            Identify Verification
              </ion-item>
              <ion-item>
                  Award And Certificate Photos
                    </ion-item>
        </ion-list>
            </ion-card>
</ion-content>
