
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img   src="assets/serviceslogo/logo_small.png" style="height:35px;">
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
  <div class="subheading" *ngFor="let item of subheading">
    <span style="font-size:18px;color:#fff;font-family: 'Fjalla One', sans-serif !important;" ><img src="{{item.imgUrl}}" style="float:left;width:20px;line-height:35px;">&nbsp;&nbsp;{{item.label}}</span>
    </div>
    <div  *ngFor="let item of banner">  
        <ion-row>
                <ion-col col-12 style="padding:0px !important;"> 
           <img src="{{item.imgUrl}}" style="width:100%;height:150px;">
        </ion-col>
           </ion-row>
            </div>
    <ion-grid>
    <ion-row *ngFor="let row of allservices" style="margin-bottom:0px;">

        <ion-col col-6 style="text-align:center;padding:2px !important;"  *ngFor="let item of row;let i = index">
            <div class="yellowcard" (click)="booking(item.label)">
                <img src="{{item.imgUrl}}" >
                <div class="tile">{{item.label}}</div>
            </div>
        </ion-col>

    </ion-row>
    </ion-grid>
    </div>

</ion-content>
