page-sub-category {
    .toolbar-background-md {
        background: #0c4393  !important;
    }
    .subheading{
        background:#0f4ca5;
        padding:10px;
       
    }
ion-content {
    background:#eeecef !important;
}
.yellowcard img {
    width:45px;
    height:45px;
}
.scroll-content {
    padding:0px !important;
}
.tile {
    font-size: 15px;
}
.yellowcard{
    background: #fff;
    border-radius: 4px;
    padding: 12px;
    min-height: 106px;

}
.scroll-content {
    overflow-y: auto !important;
  }
}
