<!--
  Generated template for the DecorationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 


<ion-content padding>
  <div style="padding:10px;">
    <h3 style="font-family: 'Fjalla One', sans-serif !important;">Events</h3>
    <form  [formGroup]="todo" (ngSubmit)="logForm()">
        <div  class="search-boxes">
            <img   src="assets/serviceslogo/location.png" class="positionIcon">
            <h5 class="heading">
             
            <span> &nbsp; Enter Area</span>
           
          </h5>
            
                <ion-item>
                  <input class="inputClass" placeholder="Enter  location" [(ngModel)]="model.toAddress" formControlName="area"  autocorrect="off" type="text"  #dropAddress>
                </ion-item>
           
          </div>
        <ng-container *ngFor="let validation of validation_messages.area">
            <div class="error-message" *ngIf="todo.get('area').hasError(validation.type) && (todo.get('area').dirty || todo.get('area').touched)">
                {{ validation.message }}
                  </div>
              
           </ng-container>
    <div>
      <img   src="assets/serviceslogo/makeup.png" class="positionIcon" >
      <h5 class="heading">
       
      <span> &nbsp; Make-Up type</span>
     
    </h5>
    <div style="clear:both"></div>
   
    <ion-list  style="clear:both" radio-group [(ngModel)]="bridalnew" formControlName="bridalnew">
        <ion-row>
        <ion-item col-6 class="border">
          <ion-label>Bridal</ion-label>
          <ion-radio value="Bridal" checked></ion-radio>
        </ion-item>
        <ion-item col-6 class="border">
          <ion-label>Party</ion-label>
          <ion-radio value="Party"></ion-radio>
        </ion-item>
        </ion-row>
       
      </ion-list>
      <ng-container *ngFor="let validation of validation_messages.bridalnew">
        <div class="error-message" *ngIf="todo.get('bridalnew').hasError(validation.type) && (todo.get('bridalnew').dirty || todo.get('bridalnew').touched)">
            {{ validation.message }}
              </div>
          
       </ng-container>
    
    </div>
  <div>
    <img   src="assets/serviceslogo/calendar.png" class="positionIcon">
    <h5 class="heading">
          
       
         <span> &nbsp;On which date do you want </span>
      
      </h5>
    
    <div style="clear:both"></div>
    <ion-calendar  [(ngModel)]="date"
    (onChange)="onChange($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'"  formControlName="date" name="date"  style="margin-top:6px;">
</ion-calendar>
        </div>
        <ng-container *ngFor="let validation of validation_messages.date">
          <div class="error-message" *ngIf="todo.get('date').hasError(validation.type) && (todo.get('date').dirty || todo.get('date').touched)">
              {{ validation.message }}
                </div>
            
         </ng-container>
         <div>
         <img   src="assets/serviceslogo/time.png" class="positionIcon" >
         <h5 class="heading">
          
         <span > &nbsp; Time</span>
         
         </h5>
              <ion-item class="border">
               <ion-label>Time</ion-label>
               <ion-datetime displayFormat="HH:mm" [(ngModel)]="time" formControlName="time"></ion-datetime>
             </ion-item>
             <ng-container *ngFor="let validation of validation_messages.time">
               <div class="error-message" *ngIf="todo.get('time').hasError(validation.type) && (todo.get('time').dirty || todo.get('time').touched)">
                   {{ validation.message }}
                     </div>
                 
              </ng-container>
              </div>
             <div>
                      <img   src="assets/serviceslogo/hand.png" class="positionIcon">
                      <h5 class="heading">
                            
                         
                           <span> &nbsp;Pricing starts from 5k</span>
                        
                        </h5>
                      
                      <div style="clear:both"></div>
                      
                      
                      <button   type="submit" class="button-color"  style="width:100%;color:#fff;"  [disabled]="!todo.valid"  ion-button outline>Submit</button>
    
                       
                      </div>
                          </form>
          
</div>
</ion-content>
<!-- <ion-footer>
    <div style="padding:10px;">
      <ion-item style="background:transparent !important;">
          <button class="button-color" (click)="makeup()" ion-button outline>Next</button>
        </ion-item>
        </div>
    </ion-footer> -->