page-makeup {
    .input1{
        padding: 10px;
        border:none !important;
        //border-bottom:1px solid #ccc !important;
        width:85%;
        margin:auto;
        margin-bottom:15px;
        background: transparent;
        color:#000;
          }
          .toolbar-background-md{
            background:#0c4393 !important;
        }
        .item-md.item-block .item-inner{
            border-bottom:none !important;
        }
       
        .heading{
            color:#2d2031;
            font-weight:lighter;
            text-align:left;
        }
        .positionIcon{
            height:20px;
            float:left;
           }
        ion-calendar-week .week-toolbar.toolbar-md{
            background:#0c4393;
            color:#fff;
        }
        .scroll-content {
            overflow-y: auto !important;
            padding: 0px !important;
          }
          ion-calendar-week .week-title.transparent {
            color:#fff !important;
        }
        .label-md {
            margin:0px !important;
        }
        ion-label {
            margin:0px !important;
        }
        ion-calendar{
            padding:10px 0px !important;
        }
}
