page-splash {
    ion-content {
        background-image: url('../assets/serviceslogo/bg_login.png')!important;
        background-size: 100% 100% !important;
        text-align: center;
       
    }
}
