<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content  hide-nav-bar="true">
    <br>
    <br>
    <br>
    <br>
  <!-- <h2>Login</h2> -->
<img src="assets/serviceslogo/thumb-annimation.gif" alt="logo">
<br>
<br>
 


</ion-content>