
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
    </button>
    
    <ion-buttons end>
        <img   src="assets/serviceslogo/logo_small.png" style="height:50px;">
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-row style="height: 9%;" class="search-boxes">
        <ion-col col-12 class="main-input">
            <ion-list>
                <ion-item>
                  <input id="1" class="inputClass" placeholder="Enter pickup location" [(ngModel)]="model.fromAddress"  autocorrect="off" type="text"  #pickUpAddress>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col col-12 class="main-input">
          <ion-list>
            <ion-item>
              <input id="2" class="inputClass" placeholder="Enter drop location" [(ngModel)]="model.toAddress" autocorrect="off" type="text"  #dropAddress>
            </ion-item>
        </ion-list>
        </ion-col>
    </ion-row>

  <!-- <agm-map [latitude]="model.fromLat" [longitude]="model.fromLng" [zoom]="18">
    <agm-marker [latitude]="model.fromLat" [longitude]="model.fromLng"></agm-marker>
  </agm-map> -->
  <div id="courierMap"></div>
<ion-row style="height: 8%;" class="btn-select">
<ion-col width-50>
    <ion-list>
        <ion-item>
          <button (click)="NormalCourier()" class="button-color" ion-button outline>Normal</button>
        </ion-item>
    </ion-list>
</ion-col>
<ion-col width-50>
  <ion-list>
    <ion-item>
      <button class="button-color" ion-button outline>Prime</button>
    </ion-item>
</ion-list>
</ion-col>
</ion-row>


</ion-content>