courier {
    agm-map {
        height:80%;
    }
    #courierMap{
        height:80%;
    }
    .toolbar-background-md {
        background: #0c4393  !important;
    }

}

.scroll-content{
  padding: 2px !important;
  overflow-y: hidden !important;
}

.action-sheet-md .action-sheet-button{
    font-size: 1.2rem !important;
    min-height: 3rem !important;
}

    .inputClass {
        padding: 0px;
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .webkit-scrollbar {
        display: none;
      }

