<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content  hide-nav-bar="true">
  <br>
  <br>
  <br>
  <br>
<!-- <h2>Login</h2> -->
<img src="assets/serviceslogo/logo_login.png" alt="logo">
<br>
<br>
<br>
<br>
<br>

<div *ngIf="buttonClickedNew">
<input type="text"  placeholder="Phone Number" class="input1">
</div>
<div *ngIf="buttonClicked">
  <input type="text"   placeholder=" Please Enter Otp" class="input1">
  
  </div>
<br><br>
<button  color="rose" ion-button class="login" (click)="subHome()">Submit</button>
<button  color="rose" ion-button class="login" (click)="register()">Register</button>


</ion-content>
