page-home {
    position: relative;
    .scroll-content {
      //  background-image: url("../assets/serviceslogo/bgimg.jpg");
      //  background-position: center; 
       
    }
    .grid {
//top: 50%;
  //  -webkit-transform: translateY(-50%);
   // -ms-transform: translateY(-50%);
 //   transform: translateY(-50%);
  //  position:absolute;
    }
    .toolbar-background-md {
      background: #0c4393  !important;
  }
  .scroll-content {
    overflow-y: auto !important;
  }
}
