<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons  end>
       

        <img   src="assets/serviceslogo/logo_small.png" (click)="homeNew()"  style="height:35px;">
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<services></services>
</ion-content>