<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Bookings</ion-title>
  </ion-navbar>
</ion-header>


  <ion-content padding>
      <!-- <ion-card *ngFor="let item of courierDetailsInfo">
        <img src="../assets/serviceslogo/service5.png"/>
        <div class="card-title">{{item.fromAddress}}</div>
        <div class="card-subtitle">{{item.toAddress}}</div>
      </ion-card> -->

      <!-- <img style="width: 100%; height: 25px;" src="../assets/imgs/advance-card-map-madison.png"> -->
                <!-- <ion-fab right top>
            <button ion-fab>
              <ion-icon name="pin"></ion-icon>
            </button>
          </ion-fab> -->
          
      <ion-card *ngFor="let item of courierDetailsInfo">
          <ion-item>
            <ion-icon name="briefcase" item-start large></ion-icon>
            <h2>Courier Service</h2>
            <p>{{item.pickupDate}}</p>
          </ion-item>
        
          <ion-item>
            <ion-icon name="arrow-forward" item-start></ion-icon>
            <p>{{item.fromAddress}}</p>
          </ion-item>
          <ion-item>
              <ion-icon name="arrow-forward" item-start></ion-icon>
              <p>{{item.toAddress}}</p>
            </ion-item>
          <ion-item>
              <button ion-button icon-start clear item-end>
                  <ion-icon name="navigate"></ion-icon>
                  Cancel
                </button>
            <button ion-button icon-start clear item-end>
              <ion-icon name="navigate"></ion-icon>
              Track
            </button>
          </ion-item>
        
        </ion-card>
  </ion-content>

