.button-color{
    background: #0c4393 !important;
    border:none;
    padding: 25px !important;
    border-radius: 17px !important;
}

ion-content{
    font-family: 'Overpass', sans-serif;
  
}
.badge-md-primary{
    background: #fce164 !important;
    color:#333 !important;
}
ion-calendar{
    border-radius:5px ;
}
.scroll-content {
    overflow-y: auto !important;
}
.toolbar-md {
    /* padding:6px !important; */
    /* min-height:40px !important; */
    padding:7px !important;
}
.header-md::after {
    background-image: none !important;
}
.toolbar-title-md {
    padding:0px !important;
}
.bar-button-menutoggle-md ion-icon {
    /* font-size:16px !important; */
}
.main-input{
    z-index: 9;
}
.toolbar-background-md{
    background: #0c4393  !important;
}
.border{
    border-radius: 5px !important;
}
ion-calendar .button-inner{
    color:#0c4393 !important ;
}
ion-calendar-month .primary .days .on-selected {
    background-color: #0c4393  !important;
    color:#fff
}
button.button-color.disable-hover.item-button.button.button-md.button-outline.button-outline-md {
    color: #fff;
}
.toolbar-background-ios , .toolbar-background-wp{
    background: #0c4393  !important;
}
.alert-button .button-inner{
    color:#0c4393 !important;
}
.button-md{
    border:none !important;
}
.search-boxes .list-md , .search-boxes .list-ios , .search-boxes .list-wp{
    margin:-1px 0 0px
}
.item-md .item-button , .item-ios .item-button , .item-wp .item-button{
    width:99%;border-radius:50px;height:50px !important;border:none !important;
}
.btn-select .label-md , .btn-select .label-ios , .btn-select .label-wp  {
    margin:0px;
} 
.picker-toolbar.button-inner{
    color:#333 !important;
  }
  .booking{
      color:#fff !important;
  }
/* .button-inner{
    color:#fff;
} */
ion-navbar.toolbar.toolbar-md .button-inner{
    color:#fff !important;

}
.action-sheet-button-default-ios .button-inner , .action-sheet-button-default-md .button-inner , .action-sheet-button-default-wp .button-inner
{
    color:#333 !important;font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.action-sheet-ios .action-sheet-title , .action-sheet-md .action-sheet-title ,.action-sheet-wp .action-sheet-title{
    font-size:20px !important;
}
.action-sheet-ios .action-sheet-button{
    
}
.action-sheet-md .action-sheet-button , .action-sheet-wp .action-sheet-button , .action-sheet-ios .action-sheet-button {
    margin: 0;
    padding:12px !important;
    min-height: 3.6rem !important;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 2rem;
    background: transparent;
}

.btnConfirmClass{
    background: #0c4393  !important;border-radius: 11px !important;
    padding:25px !important;text-align:center !important;
    color:#fff !important;min-height: 20px !important;
}

.btnConfirmClass .button-inner{
    text-align: center;color:#fce164 !important;
}
.action-sheet-md .action-sheet-group .button-inner , .action-sheet-ios .action-sheet-group .button-inner ,
.action-sheet-wp .action-sheet-group .button-inner{
    display:block;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block ,.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block , 
.list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block ,.list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block
{
    border-top:none !important;
    border-bottom:none !important;
}

.button-md , .button-ios , .button-wp{
    box-shadow:none !important;
}
.label-ios , .list-wp , .label-wp{
    margin:0px !important;
}
.search-boxes .item-md ,.search-boxes .item-ios , .search-boxes .item-wp {
    background:#fff !important;
    color:#333 !important;
    border-radius:5px;
   
}
.search-boxes .inputClass
{
    background: none;color:#000;font-weight: 100;border-bottom:none;
}
.search-boxes .col{
    padding:2px !important;
}
