<!--
  Generated template for the VegPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <ion-card *ngFor="let row of allservices">
    <ion-row *ngFor="let item of row;let i = index">

        <ion-col col-12 style="text-align:center;" >
            <div class="yellowcard">
              <ion-row>
                <ion-col col-3>
                <img src="{{item.imgUrl}}" >
                </ion-col>
                <ion-col col-9>
                <p class="tile">{{item.label}}</p>
                <ion-row>
                    <ion-col col-4>
                    <span style="line-height:40px;">{{item.cost}}</span>
                    </ion-col>
                    <ion-col col-8>
                        <span style="float:right"><ion-checkbox  (ionChange)="datachanged($event,item.label)" >  <button class="button-color"   ion-button outline>   Add</button> </ion-checkbox></span>
                      </ion-col>
                      
                  </ion-row>
              </ion-col>
              </ion-row>
            </div>
        </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-item>
  <button class="button-color"  (click)="foodTotal()" ion-button outline>Next</button>
    </ion-item> -->
      
</ion-content>
