<!--
  Generated template for the DecorationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
 <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
      </ion-buttons>
  </ion-navbar>
</ion-header> 
<ion-content padding>
  <div style="padding:10px;">
    <form  [formGroup]="todo" (ngSubmit)="logForm()">
        <div  class="search-boxes">
            <img   src="assets/serviceslogo/location.png" class="positionIcon" >
            <h5 class="heading">
             
            <span> &nbsp; Enter Area</span>
           
          </h5>
           
             
                <ion-item>
                  <input class="inputClass" placeholder="Enter  location" [(ngModel)]="model.toAddress" formControlName="area"  autocorrect="off" type="text"  #dropAddress>
                </ion-item>
           
          </div>
        <ng-container *ngFor="let validation of validation_messages.area">
            <div class="error-message" *ngIf="todo.get('area').hasError(validation.type) && (todo.get('area').dirty || todo.get('area').touched)">
                {{ validation.message }}
                  </div>
              
           </ng-container>
        
  <div>
    <img   src="assets/serviceslogo/firework.png"  class="positionIcon" >
    <h5 class="heading1">
          <span> &nbsp;Choose Event </span>
      </h5>
    
    <div style="clear:both"></div>
      <ion-item style="margin-top:6px;" class="border">
          <ion-label>Choose Event</ion-label>
         <ion-select multiple [(ngModel)]="selected_value"   formControlName="selected_value" (ionChange)="showselected(selected_value)" >
            <ion-option    *ngFor="let item of allservices" value="{{item.label}}"> {{item.label}}</ion-option>
          </ion-select>
          
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.selected_value">
          <div class="error-message" *ngIf="todo.get('selected_value').hasError(validation.type) && (todo.get('selected_value').dirty || todo.get('selected_value').touched)">
              {{ validation.message }}
                </div>
            
         </ng-container>
        </div>
         <div>
            <img   src="assets/serviceslogo/location.png"  class="positionIcon" >
            <h5 class="heading">
             
            <span> &nbsp; Select Location</span>
           
          </h5>
          <div style="clear:both"></div>
         
          <ion-list  style="clear:both" class="border" radio-group  name="location" formControlName="location" [(ngModel)]="location">
              <ion-row style="background:#fff;border-radius: 5px !important;">
              <ion-item col-6 class="border" >
                <ion-label>Indoor</ion-label>
                <ion-radio value="Indoor"></ion-radio>
              </ion-item>
              <ion-item col-6 class="border" >
                <ion-label>Outdoor</ion-label>
                <ion-radio value="Outdoor"></ion-radio>
              </ion-item>
              </ion-row>
             </ion-list>
             <ng-container *ngFor="let validation of validation_messages.location">
              <div class="error-message" *ngIf="todo.get('location').hasError(validation.type) && (todo.get('location').dirty || todo.get('location').touched)">
                  {{ validation.message }}
                    </div>
                
             </ng-container>
           </div>
        <div>
              <img   src="assets/serviceslogo/balloons.png"  class="positionIcon">
              <h5 class="heading1">
                    
                   <span> &nbsp;Decoration Type </span>
         </h5>
              <div style="clear:both"></div>
                <ion-item style="margin-top:6px;" class="border">
                    <ion-label>Choose Decoration type</ion-label>
                   
                    <ion-select  formControlName="decoration_value"  [(ngModel)]="decoration_value" (ionChange)="decorationselected(decoration_value)" >
                      
                      <ion-option    *ngFor="let item of decoration" value="{{item.label}}"> {{item.label}}</ion-option>
                     
                    </ion-select>
                    
                  </ion-item>
                  <ng-container *ngFor="let validation of validation_messages.decoration_value">
                    <div class="error-message" *ngIf="todo.get('decoration_value').hasError(validation.type) && (todo.get('decoration_value').dirty || todo.get('decoration_value').touched)">
                        {{ validation.message }}
                          </div>
                      
                   </ng-container>
                  </div>
                  <div>
                
                      <img   src="assets/serviceslogo/calendar.png"  class="positionIcon">
                      <h5 class="heading1">
                         <span > &nbsp;Your Day of convenience ?</span>
                      
                      </h5>
                    </div>
              
                <ion-calendar  [(ngModel)]="date"
                (onChange)="onChange($event)"
                [type]="type"
                [format]="'YYYY-MM-DD'" name="date"  formControlName="date" style="margin-top:6px;">
            </ion-calendar>
            <ng-container *ngFor="let validation of validation_messages.date">
              <div class="error-message" *ngIf="todo.get('date').hasError(validation.type) && (todo.get('date').dirty || todo.get('date').touched)">
                  {{ validation.message }}
                    </div>
                
             </ng-container>
             <div>
             <img   src="assets/serviceslogo/time.png"  class="positionIcon" >
             <h5 class="heading1">
              
             <span > &nbsp;Time</span>
             
             </h5>
             </div>
                  <ion-item class="border">
                   <ion-label>Time</ion-label>
                   <ion-datetime displayFormat="HH:mm" [(ngModel)]="time" formControlName="time"></ion-datetime>
                 </ion-item>
                 <ng-container *ngFor="let validation of validation_messages.time">
                   <div class="error-message" *ngIf="todo.get('time').hasError(validation.type) && (todo.get('time').dirty || todo.get('time').touched)">
                       {{ validation.message }}
                         </div>
                     
                  </ng-container>
                
                <div>
                      <img   src="assets/serviceslogo/hand.png"  class="positionIcon" >
                      <h5 class="heading1">
                            
                         
                           <span> &nbsp;What type of decoration do you want?</span>
                        
                        </h5>
                      
                      <div style="clear:both"></div>
                      <ion-list  style="clear:both" radio-group [(ngModel)]="budget" formControlName="budget">
                         
                          <ion-item class="border" >
                            <ion-label>Basic (starts from Rs.10k Only)</ion-label>
                            <ion-radio value="Basic"></ion-radio>
                          </ion-item>
                          <ion-item class="border" >
                            <ion-label>Medium(starts from Rs.15k Only)</ion-label>
                            <ion-radio value="Medium"></ion-radio>
                          </ion-item>
                          <ion-item class="border" >
                              <ion-label>Advanced(starts from Rs.30k Only)</ion-label>
                              <ion-radio value="advanced"></ion-radio>
                            </ion-item>
                         
                         
                        </ion-list>
                        <ng-container *ngFor="let validation of validation_messages.budget">
                          <div class="error-message" *ngIf="todo.get('budget').hasError(validation.type) && (todo.get('budget').dirty || todo.get('budget').touched)">
                              {{ validation.message }}
                                </div>
                            
                         </ng-container>
                          </div> 

                          <button   type="submit" class="button-color"  style="width:100%;color:#fff;"  [disabled]="!todo.valid"  ion-button outline>Submit</button>
    
                        </form>
</div>
</ion-content>
