<!--
  Generated template for the MaidDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .positionIcon{
            height:20px;
            float:left;
           }
           .imgSize{
            height:22px;width:22px;margin-top:4px;
           }
           .newInline{
            text-align: center;display: inline-flex;
           }
           .heading{
            clear:both;font-size:17px;
           font-weight:lighter;
           }
           .heading1{
            clear:both;font-size:17px;
            font-weight:lighter;
            text-align:right;
           }
           .text{
            line-height:35px;font-size:17px;
           }
           .text-right{
               text-align:right;
           }
           .text-left{
               text-align:left ;
           }
           .headingnew{
            clear:both;font-size:17px;
            font-weight:lighter;
               text-align:center;
           }
           .decline{
            background:#f3133d !important;
        }
        .p-20{
            padding:20px;
        }
        .blue{
            color: #0c4393;
        font-size: 17px;
       
       font-weight: bold; 
        }
        .bluenew{
            color: #0c4393;
            font-size: 17px;
            text-align:right;
        }
        h4{
            margin-bottom:0px !important;
        }
        .blue1{
            color:#0c4393;
            font-size:17px;
            padding-top:15px;
            font-weight:bold;
        }
        .blue1 .fa{
            font-weight:bold;
        } 
        .bgNew{
            background: #f4f4f4;
        padding: 20px 10px;
        border-radius: 5px;
        }
        .w-100{
    width:100%;
        }
        .m-10{
            margin-bottom:5px
        }
        .m-0{
            margin:0px !important;
        }
        .light{
            color:#0c4393;
            font-size:15px;
        }
        .p-0{
            padding:0 !important;
        }
  </style>
<ion-content padding style="background: #fff !important;">
  <div style="background-image: url('assets/serviceslogo/bg_inner.png');background-size: 100% 100%;
  height: 172px;">
  <ion-header>
      <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle start>
         <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
        </button>
        
        <ion-buttons end>
            <img   src="assets/serviceslogo/logo_small.png" style="height:35px;">
          </ion-buttons>
      </ion-navbar>
    </ion-header>
 
   
    </div>
    <div style="padding:10px 10px">
      <h3 style="font-family: 'Fjalla One', sans-serif !important;">Events</h3>
  <ion-row class="m-10 bgNew">
      <ion-col col-6 class="text-left">
      
       
         
        
        
         <div class="newInline">  <span> <img   src="assets/serviceslogo/team.png" class="imgSize" >  </span>
           
           <span class="text"> &nbsp;Members</span>
          
        
        
         </div>
 
        
         <h5 class="heading">  &nbsp;{{shoot}}</h5>
 
        </ion-col>
        
        <ion-col col-6 class="text-right">
          
           
             
            
            
          <div class="newInline">  <span> <img   src="assets/serviceslogo/calendar.png" class="imgSize" >  </span>
            
            <span class="text">&nbsp;Date</span>
           
         
         
          </div>
  
         
          <h5 class="heading1">  &nbsp;{{date}}</h5>
  
         </ion-col>
        
         
      </ion-row>
     
        <ion-row class="m-10 bgNew">
      <ion-col  style="text-align:center">
          
           
             
            
            
        <div class="newInline">  <span> <img   src="assets/serviceslogo/time.png" class="imgSize" >  </span>
          
          <span class="text">&nbsp;Time</span>
         
       
       
        </div>

       
        <h5 class="headingnew">  &nbsp;{{time}}</h5>

       </ion-col>
      </ion-row>
          <ion-row class="m-10 bgNew"> 
              <ion-col>
                  <div class="newInline">  <span> <img   src="assets/serviceslogo/location.png"  class="imgSize" >  </span>
                        
                    <span class="text">&nbsp;Address</span>
                   
                 
                 
                  </div>
                  <h3 class="heading"  >{{location}}</h3>
                </ion-col>
              </ion-row>
             </div>
   
</ion-content>
<ion-footer>
  <div>
  <ion-item style="background:transparent !important;">
    <button  class="button-color" ion-button outline (click)="logForm()">Confirm</button>
  </ion-item>
</div>
</ion-footer>