page-spa-final {
    .scroll-content {
        overflow-y: auto !important;
        padding:0px !important;
      }
      .toolbar-background-md {
        background: transparent !important;
    }
    .input1{
        padding: 10px;
        border:none !important;
       // border-bottom:1px solid #ccc !important;
        width:100%;
       
        background: transparent;
        color:#000;
          }
          .label-md {
            margin:0px !important;
        }
        .item-md.item-block .item-inner {
            border-bottom:none !important;
        }
        .positionIcon{
            height:20px;
            float:left;
           }
           .imgSize{
            height:22px;width:22px;margin-top:4px;
           }
           .newInline{
            text-align: center;display: inline-flex;
           }
           .heading{
            clear:both;font-size:17px;
           font-weight:lighter;
           text-align:left;
           }
           .heading1{
            clear:both;font-size:17px;
            font-weight:lighter;
            text-align:right;
           }
           .text{
            line-height:35px;font-size:17px;
           }
           .text-right{
               text-align:right;
           }
           .text-left{
               text-align:left ;
           }
           .headingnew{
            clear:both;font-size:17px;
            font-weight:lighter;
               text-align:center;
           }
           .decline{
            background:#f3133d !important;
        }
        .p-20{
            padding:20px;
        }
        .blue{
            color: #0c4393;
        font-size: 17px;
       
       font-weight: bold; 
        }
        .bluenew{
            color: #0c4393;
            font-size: 17px;
            text-align:right;
        }
        h4{
            margin-bottom:0px !important;
        }
        .blue1{
            color:#0c4393;
            font-size:17px;
            padding-top:15px;
            font-weight:bold;
        }
        .blue1 .fa{
            font-weight:bold;
        } 
        .bgNew{
            background: #f4f4f4;
        padding: 20px 10px;
        border-radius: 5px;
        }
        .w-100{
    width:100%;
        }
        .m-10{
            margin-bottom:5px
        }
        .m-0{
            margin:0px !important;
        }
        .light{
            color:#0c4393;
            font-size:15px;
        }
        .p-0{
            padding:0 !important;
        }
        h5{
            margin-top:0px !important;
        }
}
