<!--
  Generated template for the MaidDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background:#fff !important">
  <div style="background-image: url('assets/serviceslogo/bg_inner.png');background-size: 100% 100%;
  height: 172px;">
  <ion-header>
      <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle start>
         <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
        </button>
        
        <ion-buttons end>
            <img   src="assets/serviceslogo/logo_small.png" style="height:35px;">
          </ion-buttons>
      </ion-navbar>
    </ion-header>
 
   
    </div>
    <div style="padding:10px 10px;">
      <h3 style="font-family: 'Fjalla One', sans-serif !important;" >Events</h3>
  <ion-row class="m-10 bgNew">
      <ion-col col-6 class="text-left">
      
       
         
        
        
         <div class="newInline">  <span> <img   src="assets/serviceslogo/firework.png" class="imgSize" >  </span>
           
           <span class="text"> &nbsp;Choose Event</span>
          
        
        
         </div>
 
        
         <h5 class="heading">  &nbsp;{{serviceType}}</h5>
 
        </ion-col>
        
        <ion-col col-6 class="text-right">
      
       
         
        
        
           <div class="newInline">  <span> <img   src="assets/serviceslogo/balloons.png" class="imgSize" >  </span>
             
             <span class="text">&nbsp;Decoration Type</span>
            
          
          
           </div>
   
          
           <h5 class="heading1">  &nbsp;{{decorType}}</h5>
   
          </ion-col>
         
         
      </ion-row>
      <ion-row class="m-10 bgNew">
          <ion-col col-6 style="text-align:left">
          
           
             
            
            
             <div class="newInline">  <span> <img   src="assets/serviceslogo/location.png" class="imgSize" >  </span>
               
               <span class="text"> &nbsp;Location</span>
              
            
            
             </div>
     
            
             <h5 class="heading">  &nbsp;{{location}}</h5>
     
            </ion-col>
            
            <ion-col col-6 style="text-align:right">
          
           
             
            
            
               <div class="newInline">  <span> <img   src="assets/serviceslogo/hand.png" class="imgSize">  </span>
                 
                 <span class="text">&nbsp;Budget</span>
                
              
              
               </div>
       
              
               <h5 class="heading1">  &nbsp;{{budget}}</h5>
       
              </ion-col>
             
             
          </ion-row>
          <ion-row class="m-10 bgNew">
            <ion-col col-6 class="text-left">
            
             
               
              
              
               <div class="newInline">  <span> <img   src="assets/serviceslogo/calendar.png" class="imgSize" >  </span>
                 
                 <span class="text"> &nbsp;Date</span>
                
              
              
               </div>
       
              
               <h5 class="heading">  &nbsp;{{date}}</h5>
       
              </ion-col>
              
              <ion-col col-6 class="text-right">
            
             
               
              
              
                 <div class="newInline">  <span> <img   src="assets/serviceslogo/time.png" class="imgSize" >  </span>
                   
                   <span class="text">&nbsp;Time</span>
                  
                
                
                 </div>
         
                
                 <h5 class="heading1">  &nbsp;{{time}}</h5>
         
                </ion-col>
               
               
            </ion-row>
            <ion-row class="m-10 bgNew">
              <ion-col col-12>
              
               
                 
                
                
                 <div class="newInline">  <span> <img   src="assets/serviceslogo/location.png" class="imgSize" >  </span>
                   
                   <span class="text"> &nbsp;Address</span>
                  
                
                
                 </div>
         
                
                 <h5 class="heading">  &nbsp;{{area}}</h5>
         
                </ion-col>
                
               
                 
                 
              </ion-row>
            </div>
            
   
</ion-content>
<ion-footer>
  <div>
  <ion-item style="background:transparent !important;">
    <button  class="button-color" ion-button outline (click)="logForm()">Confirm</button>
  </ion-item>
</div>
</ion-footer>