<!--
  Generated template for the OngoingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
    </button>
    
    <ion-buttons  end>
       

        <img   src="assets/serviceslogo/logo_small.png"   style="height:50px;">
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row class="forbtn">
    <ion-col col-3 text-center>
          <button ion-button outline (click)="addEvent();"  [ngStyle]="{'background-color': buttonColor}">
              <span  [ngStyle]="{'color':fontColor1}">      {{today |  date: 'dd'}}
                {{today |  date: 'MMM'}}</span>
             
          </button>
      </ion-col>
      <ion-col col-3>
          <button ion-button outline (click)="addColor();" [ngStyle]="{'background-color': buttonColor1}">
              <span  [ngStyle]="{'color':fontColor2}">    {{tomorrow |  date: 'dd'}}
              {{tomorrow |  date: 'MMM'}}</span>
            </button>
           
          
           
      </ion-col>
      <ion-col col-3>
          <button ion-button outline (click)="thirdDay();" [ngStyle]="{'background-color': buttonColor2}">
              <span  [ngStyle]="{'color':fontColor3}">   {{other |  date: 'dd'}}
              {{other |  date: 'MMM'}}</span>
          </button>
        </ion-col>
        <ion-col col-3>
            <button ion-button outline (click)="fourthDay();" [ngStyle]="{'background-color': buttonColor3}">
                <span  [ngStyle]="{'color':fontColor4}">   {{after |  date: 'dd'}}
                {{after |  date: 'MMM'}}</span>
            </button>
          </ion-col>
        
    </ion-row>
    
  </ion-grid>
 
  <ion-row  *ngFor="let item of allservices" style="background:#fff;padding:5px;margin-bottom:5px;">
  
    <ion-col col-4>
          date:{{item.label}}<br>
          time:{{item.time}}
          
       </ion-col>
    
    
       <ion-col col-6 >
         <div style="float:left">
          <h2 style="font-size:17px;">{{item.type}}</h2>
    
          <h3 style="font-size:15px;">{{item.username}}</h3>
          
          <i style="color:#565656;font-size:13px;">{{item.location}}</i>
    </div>
          <ion-toggle  style="float:right"></ion-toggle>
    
    </ion-col>
    
    </ion-row>
    
</ion-content>
