<!--
  Generated template for the MaidNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
    </button>
    
    <ion-buttons end>
        <img src="assets/serviceslogo/logo_small.png" style="height:50px;">
        
      </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content>
<div style="padding:10px;">
  <ion-row  class="search-boxes">
      <img   src="assets/serviceslogo/location.png" style="height:30px;float:left;margin-top:14px;" >
      <h5 class="heading">
       
      <span style="float:left;line-height: 31px;"> &nbsp; Enter Area</span>
     
    </h5>
      <ion-col col-12 class="main-input">
        <ion-list>
          <ion-item>
            <input class="inputClass" placeholder="Enter drop location" [(ngModel)]="model.toAddress" autocorrect="off" type="text"  #dropAddress>
          </ion-item>
      </ion-list>
      </ion-col>
  </ion-row>
 <div>
    <img   src="assets/serviceslogo/calendar.png" style="height:30px;float:left;margin-top:0px;" >
<h5 class="heading">
 
<span style="float:left;line-height: 31px;"> &nbsp; Date</span>

</h5>
<div style="clear: both;"></div>
<ion-calendar  [(ngModel)]="date"
(onChange)="onChange($event)"
[type]="type"
[format]="'YYYY-MM-DD'" name="date">
</ion-calendar>
   </div>

    <div>
      
        <img   src="assets/serviceslogo/age.png" style="height:23px;float:left;" >
        <h5 class="heading">
         
        <span style="float:left;line-height: 31px;"> &nbsp; Elder Age</span>
       
      </h5>
      <div style="clear:both"></div>
     
      <ion-item class="border">
          <input type="text"  [(ngModel)]="age"   class="input1">
      
        </ion-item>
      
      </div>
    
      <div>
          <img   src="assets/serviceslogo/time.png" style="height:30px;float:left;" >
          <h5 class="heading">
           
          <span style="float:left;line-height: 31px;"> &nbsp; Select Hours</span>
         
        </h5>
       
            <ion-item class="border">
                <ion-label>Hours</ion-label>
                <ion-select [(ngModel)]="new_selected" (ionChange)="showselected(new_selected)">
                    <ion-option    *ngFor="let item of hours" value="{{item.label}}"> {{item.label}}</ion-option>
                     
                  
                </ion-select>
              
        </ion-item>
        </div>
        <div>
            <img   src="assets/serviceslogo/mars.png" style="height:23px;float:left;" >
            <h5 class="heading">
             
            <span style="float:left;line-height: 31px;"> &nbsp; Select Gender</span>
           
          </h5>
          <div style="clear:both"></div>
         
          <ion-list  style="clear:both" radio-group [(ngModel)]="Gender">
              <ion-row>
              <ion-item col-6>
                <ion-label>Female</ion-label>
                <ion-radio value="Female" checked></ion-radio>
              </ion-item>
              <ion-item col-6>
                <ion-label>Male</ion-label>
                <ion-radio value="Male"></ion-radio>
              </ion-item>
              </ion-row>
             
            </ion-list>
          
          </div>
          <div>
              <img   src="assets/serviceslogo/maid.png" style="height:23px;float:left;" >
              <h5 class="heading">
               
              <span style="float:left;line-height: 31px;"> &nbsp; What Services Do you want ?</span>
             
            </h5>
            <div style="clear:both"></div>
           
            <ion-item class="border">
                <ion-label>Services</ion-label>
                <ion-select  multiple [(ngModel)]="service_selected" (ionChange)="serviceselected(service_selected)">
                    <ion-option    *ngFor="let item of services" value="{{item.label}}"> {{item.label}}</ion-option>
                     
                  
                </ion-select>
              
        </ion-item>
            
            </div>
          



</div>
</ion-content>
<ion-footer>
  <ion-item>
      <button (click)="NormalCourier()" class="button-color" ion-button outline>Normal</button>
    </ion-item>
</ion-footer>
