<!--
  Generated template for the AccountDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar style="white-space:nowrap">
      <button ion-button menuToggle start>
       <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
      </button>
      
      <ion-buttons  end>
         
  
          <img   src="assets/serviceslogo/logo_small.png"   style="height:50px;">
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  


<ion-content padding>
    <div *ngIf="menu=='Account Settings'">
         <ion-card>
            <ion-item>GST Details</ion-item>
      <ion-list>
          <ion-item><span style="color:blue">Add Details</span></ion-item>
          </ion-list>
          </ion-card>
          <ion-card>
              <ion-item>PAN Details</ion-item>
        <ion-list>
            <ion-item><span style="color:blue">Add Details</span></ion-item>
            </ion-list>
            </ion-card>
            <ion-card>
                <ion-item>Bank Account Details</ion-item>
          <ion-list>
              <ion-item><span style="color:blue">Add Details</span></ion-item>
              </ion-list>
              </ion-card>

    </div>
  


</ion-content>
