page-service-info {
    .newService img {
width:100%;

    }
    .serviceInfo{
       // background-image: url("../assets/serviceslogo/serviceInfo.jpg");
      //  padding-top:30%;
    position: absolute;
    top:25%;
    left:10px;
}
.title {
    
}
.btn {
    background: #261c33;
    border-radius: 50px;
}
.buttons button {
    width:100%;
    text-transform: capitalize;
}
.somepadding {
    padding:5px;
   
    padding-bottom:30px;
}
}
