<!--
  Generated template for the ServiceInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>

    <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="font-size: 1rem"><img   src="assets/icon/icon.png"></ion-title>
      </ion-navbar>
</ion-header> 


<ion-content>
<div class="newService">
  <img src="assets/serviceslogo/serviceInfo.jpg">
  <h1 class="serviceInfo">Water Purifier Repair</h1>
</div>
<div class="somepadding">
 <h5 class="title">Which service do you  need for the water purifier?</h5>
<div class="buttons">
 <button ion-button outline  class="btn" (click)="serviceType()" icon-end>
   
    Repair/Servicing
    <ion-icon name="arrow-forward" style="float:right"></ion-icon>
  </button>
  <button ion-button outline  class="btn"  (click)="serviceType()" icon-end>
   
      Installation/Uninstallation
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
</div>
</div>
<div style="background: #f7f7ff;">
<ion-grid>
    <ion-row>
      <ion-col col-2><h3><i class="fa fa-rupee"></i>
        </h3>
      
      </ion-col>

      <ion-col col-10>
        <h3>Lowest price guarantee</h3>
          <p style="color:#ccc;"> 50% lower spare part cost than brands</p> 

      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-2><h3><i class="fa fa-users"></i>
          </h3>
        
        </ion-col>
  
        <ion-col col-10>
          <h3>Our Promise</h3>
            <p style="color:#ccc;"> 30 days service guarantee</p> 
  
        </ion-col>
      </ion-row>
   
  </ion-grid>
</div>
</ion-content>
