page-address {
.heading {
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}
.button-color{
    border-radius: 50px;
    text-transform: capitalize;
    width:99%;
    margin:auto;
}
}
