<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="font-size: 1rem"><img   src="assets/icon/icon.png"></ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 class="heading">
      <br>
    <br>
    <ion-list>
        <ion-item radio-group col-12>
            <ion-radio value="friends"  col-3></ion-radio>
          <ion-label   col-8><h5 style="font-weight:bold;">Mr.demo</h5>
            <p style="color:#ccc;">Uday Vensar,Near shilpa kalavedika </p>
          </ion-label>
          
        </ion-item>
        <ion-item>
            <ion-icon name="add"></ion-icon>   Add New Address
         
          
        </ion-item>
       
        
      </ion-list>

    <br>
  </h5>
  <button  class="button-color" (click)="serviceInfo()" ion-button outline>Continue with this address &nbsp; &nbsp; <ion-icon name="arrow-forward"></ion-icon></button>

</ion-content>
