page-service-type {
    .heading {
        text-align: center;
    }
    .button-color{
        width:99%;
        margin:auto;
        text-transform: capitalize;
        border-radius: 50px;
    }
}
