<!--
  Generated template for the ServiceTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="white-space:nowrap">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="font-size: 1rem"><img   src="assets/icon/icon.png"></ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
    <h5 class="heading">
        <br>
      <br>
      Please Select Service Type
      <br>
      <br>
    </h5>
      <ion-list radio-group>
          <ion-item  col-12>
              <ion-radio value="friends"  col-2></ion-radio>
            <ion-label   col-10><h5 style="font-weight:bold;">Repair</h5>
              <h5 style="font-weight:bold;">Rs.0</h5>
              <p style="color:#ccc;">Rs.0 visiting charges<br>
              Repair and spare charges will be applicable if you decided to go head with the service </p>
            </ion-label>
            
          </ion-item>
          <ion-item  col-12>
              <ion-radio value="newfriends"  col-2></ion-radio>
            <ion-label   col-10><h5 style="font-weight:bold;">Servicing/Filter Change</h5>
              <h5 style="font-weight:bold;">Rs.299</h5>
              <p style="color:#ccc;">Cleaning of machine<br>
              Repair and spare charges will be applicable if you decided to go head with the service </p>
            </ion-label>
            
          </ion-item>
         
         
          
        </ion-list>
  
      
    
    <button  class="button-color" (click)="booking()" ion-button outline>Next &nbsp; &nbsp; <ion-icon name="arrow-forward"></ion-icon></button>
  
</ion-content>
