<!--
  Generated template for the SpaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
      <img src="assets/serviceslogo/menu.png" style="height:20px;">
    </button>
    <ion-buttons end>
      <img src="assets/serviceslogo/logo_small.png" style="height:35px;">
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="subheading">
    <span style="font-size:18px;color:#fff;font-family: 'Fjalla One', sans-serif !important;"><img
        src="assets/serviceslogo/title.png" style="float:left;width:20px;line-height:35px;">&nbsp;&nbsp;Beauty &
      Spa</span>
  </div>
  <div style="clear:both"></div>
  <ion-row style="margin-bottom:10px;">
    <ion-col col-4 style="text-align:center;" *ngFor="let item of Categories" (click)="getcategory(item)">
      <div>
        <button class="tile btn" [ngClass]="{'button-bg': item.status === true}">{{item.name}} </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of allservices">
      <ion-label> {{item.label}}</ion-label>
      <ion-checkbox slot="end" (ionChange)="datachanged($event,item.label)"></ion-checkbox>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-3>
    </ion-col>
    <ion-col col-6>
      <button (click)="spaFinal()" class="button-color" style="width:100%" ion-button outline><span
          style="color:#fff !important">Next</span></button>
    </ion-col>
    <ion-col col-3>
    </ion-col>
  </ion-row>
  <ion-row class="subheading">
    <ion-col col-3>
      <img src="assets/footer/home.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"  class="img-footer">
    </ion-col>
    <ion-col col-3>
      <img src="assets/footer/menu.png"   class="img-footer">
    </ion-col>
  </ion-row>
</ion-footer>