<ion-header>
    <ion-navbar style="white-space:nowrap">
      <button ion-button menuToggle start>
       <img   src="assets/serviceslogo/menu.png" style="height:30px;" >
      </button>
      
      <ion-buttons end>
          <img src="assets/serviceslogo/logo_small.png" style="height:50px;">
          
        </ion-buttons>
    </ion-navbar>
  </ion-header> 

<ion-content padding>
  <ion-item>
    <ion-label>Pickup DateTime</ion-label>
    <ion-datetime displayFormat="MMM/DD/YYYY hh:mm:A" [(ngModel)]="model.pickupDate" minuteValues="0,30" [min]="today"></ion-datetime>
    <ion-icon name="calendar"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Is Breakable</ion-label>
      <ion-toggle [(ngModel)]="model.isItembreckable" checked="false"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label floating>Item Weight (in grm)</ion-label>
      <ion-input [(ngModel)]="model.itemWeight" type="number"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Item Description</ion-label>
      <ion-input [(ngModel)]="model.itemDescription" type="text"></ion-input>
    </ion-item> 
  </ion-list>
</ion-content>




<ion-footer>
    <ion-item style="background:transparent !important;">
        <button class="button-color" (click)="saveCourierData()" type="submit"ion-button outline>Pay & Conform</button>
      </ion-item>
 
  </ion-footer>
