page-details {
    .bgnew {
        //background: #fff;
        padding:10px;
        margin-top:20px;
       
    }
    .heading1{
        color:#2d2031;
        text-align:center;
        font-weight:lighter;
    }
    .heading{
        color:#2d2031;
        font-weight:bold;
        text-align:center;
    }
    .headingnew{
        color:#2d2031;
        font-weight:lighter;
        text-align:left;
        font-size:18px;
    }
    .toolbar-background-md{
        background:none !important;
    }
    ion-content {
        background:#eeecef !important;
    }
    .button-md {
        border-radius:13px !important;
        width:99%;
        margin:auto;
    }
    .scroll-content {
        overflow-y: auto !important;
      }
}
