<ion-menu  (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
    <ion-header>
        <ion-toolbar style="background: #211531 !important;">
       
        
       
           
            <i class="fa fa-user-o"  style="color:#fff;float:left;font-size:16px" aria-hidden="true"></i>&nbsp;&nbsp;
        
        <span style="color:#fff;font-size:16px">{{username}}</span>
        <!-- <p>+91 8010333498</p> -->
   
    z
  
  </ion-toolbar>
    </ion-header>
  
    <ion-content>
        <ion-item (click)="home()">
          Home
            </ion-item>
        <ion-item (click)="logout()">
            LogOut
            </ion-item>
      <!-- <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list> -->
    </ion-content>
    
    <ion-item (click)="logout()">
      LogOut
      </ion-item>
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>