<!--
  Generated template for the MaidDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <div style="background-image: url('assets/serviceslogo/bg_inner.png');background-size: 100% 100%;
    height: 172px;">
    <ion-header>
        <ion-navbar style="white-space:nowrap">
          <button ion-button menuToggle start>
           <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
          </button>
          
          <ion-buttons end>
              <img   src="assets/serviceslogo/logo_small.png" style="height:35px;">
            </ion-buttons>
        </ion-navbar>
      </ion-header>
   
     
      </div>
    <ion-row style="padding:20px;">
        <ion-col col-6 style="text-align:left">
        
         
           
          
          
           <div style="text-align: center;display: inline-flex;">  <span> <img   src="assets/serviceslogo/time.png" style="height:30px;width:30px;" >  </span>
             
             <span style="line-height:35px;font-size:18px;"> &nbsp;Time</span>
            
          
          
           </div>
   
          
           <h5 class="heading"  style="clear:both;font-size:22px;text-align:left !important">  &nbsp;{{hour}}</h5>
   
          </ion-col>
          
          <ion-col col-6 style="text-align:right">
        
         
           
          
          
             <div style="text-align: center;display: inline-flex;">  <span> <img   src="assets/serviceslogo/mars.png" style="height:23px;" >  </span>
               
               <span style="line-height:35px;font-size:18px;">&nbsp;Gender</span>
              
            
            
             </div>
     
            
             <h5 class="heading" style="clear:both;font-size:22px;text-align:right !important">  &nbsp;{{gender}}</h5>
     
            </ion-col>
           
           
        </ion-row>
        <ion-row style="padding:20px;">
            <ion-col col-6 style="text-align:left">
            
             
               
              
              
               <div style="text-align: center;display: inline-flex;">  <span> <img   src="assets/serviceslogo/age.png" style="height:23px;" >  </span>
                 
                 <span style="line-height:35px;font-size:18px;"> &nbsp;Child Age</span>
                
              
              
               </div>
       
              
               <h5 class="heading"  style="clear:both;font-size:22px;text-align:left !important">  &nbsp;{{age}}</h5>
       
              </ion-col>
              
              <ion-col col-6 style="text-align:right">
            
             
               
              
              
                 <div style="text-align: center;display: inline-flex;">  <span> <img   src="assets/serviceslogo/calendar.png" style="height:30px;width:30px;" >  </span>
                   
                   <span style="line-height:35px;font-size:18px;">&nbsp;Date</span>
                  
                
                
                 </div>
         
                
                 <h5 class="heading" style="clear:both;font-size:22px;text-align:right !important">  &nbsp;{{date}}</h5>
         
                </ion-col>
               
               
            </ion-row>
            <ion-row style="margin-top:0px;padding:20px;"> 
                <ion-col>
                    <div style="text-align: center;display: inline-flex;">  <span> <img   src="assets/serviceslogo/location.png" style="height:30px;width:30px;" >  </span>
                          
                      <span style="line-height:35px;font-size:18px;">&nbsp;Address</span>
                     
                   
                   
                    </div>
                    <h3 class="headingnew" style="" >{{location}}</h3>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12 style="text-align: center">
                      <div style="display: inline-flex;">
                      <span style="line-height:30px;font-size:17px;font-weight:bold;color:#2d2031 !important;margin-top:10px;">Price: &nbsp;</span><button ion-button  style="background:#fff;margin-top:-2px;padding:26px !important;"> 
                        <span style="color:#2d2031 !important;font-weight:bold;font-size:25px;">Rs 300</span>
                              
                        </button>
                      </div> 
                      </ion-col>
                    </ion-row>
              
     
</ion-content>
<ion-footer>
    <div>
    <ion-item style="background:transparent !important;">
      <button  class="button-color" ion-button outline>Pay now</button>
    </ion-item>
  </div>
  </ion-footer>