page-baby-care-details {
    .scroll-content {
        overflow-y: auto !important;
        padding:0px !important;
      }
      .toolbar-background-md {
        background: none !important;
    }
    .input1{
        padding: 10px;
        border:none !important;
       // border-bottom:1px solid #ccc !important;
        width:100%;
       
        background: transparent;
        color:#000;
          }
          .label-md {
            margin:0px !important;
        }
        .item-md.item-block .item-inner {
            border-bottom:none !important;
        }
        .heading1{
            color:#2d2031;
            text-align:center;
            font-weight:lighter;
        }
        .heading{
            color:#2d2031;
            font-weight:bold;
            text-align:center;
        }
        .headingnew{
            color:#2d2031;
            font-weight:lighter;
            text-align:left;
            font-size:18px;
        }
}
