page-education {
    .input1{
        padding: 10px;
        border:none !important;
       // border-bottom:1px solid #ccc !important;
        width:100%;
        margin:auto;
      
        background: transparent;
        color:#000;
          }
          .toolbar-background-md{
            background: #0c4393  !important;
        }
        .heading{
            color:#2d2031;
            font-weight:lighter;
            
        }
        .item-md.item-block .item-inner{
            border-bottom:none !important;
        }
        ion-calendar-week .week-title.transparent {
            color:#fff !important;
        }
        .label-md {
            margin:0px !important;
        }
        ion-calendar{
            padding:10px 0px !important;
        }
        .scroll-content {
            overflow-y: auto !important;
          }
          .positionIcon{
            height:20px;
            float:left;
           }
}
