<!--
  Generated template for the EducationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar style="white-space:nowrap">
    <button ion-button menuToggle start>
     <img   src="assets/serviceslogo/menu.png" style="height:20px;" >
    </button>
    
    <ion-buttons end>
        <img   src="assets/serviceslogo/logo_small.png" style="height:35px;">
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <div style="padding:10px;">
  <form  [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-list radio-group [(ngModel)]="tutor" formControlName="tutor" name="tutor">
      <ion-row>
        

        <ion-item class="newBg border" col-6>
          <ion-label style="font-size:14px !important;"> One on One Tutor/Trainer</ion-label>
          <ion-radio value="Personel"></ion-radio>
        </ion-item>
        <ion-item class="newBg border" col-6>
          <ion-label style="font-size:14px !important;">	Group Tutor/Trainer</ion-label>
          <ion-radio value="Group"></ion-radio>
        </ion-item>
      </ion-row>
    </ion-list>
   
    <ng-container *ngFor="let validation of validation_messages.tutor">
      <div class="error-message" *ngIf="todo.get('tutor').hasError(validation.type) && (todo.get('tutor').dirty || todo.get('tutor').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
    <div style="clear:both"></div>
    <div  class="search-boxes">
        <img   src="assets/serviceslogo/location.png" class="positionIcon">
        <h5 class="heading">
         
        <span> &nbsp; Enter Area</span>
       
      </h5>
        
            <ion-item>
              <input class="inputClass" placeholder="Enter  location" [(ngModel)]="model.toAddress" formControlName="area"  autocorrect="off" type="text"  #dropAddress>
            </ion-item>
        
      </div>
    <ng-container *ngFor="let validation of validation_messages.area">
        <div class="error-message" *ngIf="todo.get('area').hasError(validation.type) && (todo.get('area').dirty || todo.get('area').touched)">
            {{ validation.message }}
              </div>
          
       </ng-container>
       <div>
    <img   src="assets/serviceslogo/education.png" class="positionIcon">
  <h5 class="heading">
   
  <span> &nbsp; Choose your Education</span>
 
</h5>
<div style="clear: both;"></div>

<ion-item class="border">
<input type="text" [(ngModel)]="new_selected" formControlName="new_selected"  class="input1">
</ion-item>
<ng-container *ngFor="let validation of validation_messages.new_selected">
  <div class="error-message" *ngIf="todo.get('new_selected').hasError(validation.type) && (todo.get('new_selected').dirty || todo.get('new_selected').touched)">
      {{ validation.message }}
        </div>
    
 </ng-container>
     
  </div>
  <div style="clear: both;"></div>
  <div>
  <img   src="assets/serviceslogo/open-book.png" class="positionIcon" >
  <h5 class="heading" >
   
  <span> &nbsp; Subject</span>
 
</h5>
<div style="clear: both;"></div>
<ion-item class="border">
  <input type="text" [(ngModel)]="sub_selected"  formControlName="sub_selected" class="input1">
</ion-item>
<ng-container *ngFor="let validation of validation_messages.sub_selected">
  <div class="error-message" *ngIf="todo.get('sub_selected').hasError(validation.type) && (todo.get('sub_selected').dirty || todo.get('sub_selected').touched)">
      {{ validation.message }}
        </div>
    
 </ng-container>
 
    </div>
    <div>
    <img   src="assets/serviceslogo/calendar.png" class="positionIcon" >
    <h5 class="heading">
     
    <span> &nbsp; which date would you like to start?</span>
   
  </h5>
  <div style="clear: both;"></div>

    <ion-calendar  [(ngModel)]="date"
    (onChange)="onChange($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'"  formControlName="date" name="date">
</ion-calendar>
<ng-container *ngFor="let validation of validation_messages.date">
  <div class="error-message" *ngIf="todo.get('date').hasError(validation.type) && (todo.get('date').dirty || todo.get('date').touched)">
      {{ validation.message }}
        </div>
    
 </ng-container>
 </div>
 <div>
<img   src="assets/serviceslogo/days.png" class="positionIcon" >
<h5 class="heading">
 
<span> &nbsp; Total Number of days per week</span>

</h5>
<div style="clear: both;"></div>

    <ion-item class="border">
      <input type="text" [(ngModel)]="days"  formControlName="days" class="input1">

    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.days">
      <div class="error-message" *ngIf="todo.get('days').hasError(validation.type) && (todo.get('days').dirty || todo.get('days').touched)">
          {{ validation.message }}
            </div>
        
     </ng-container>
     </div>
<div>
<img   src="assets/serviceslogo/time.png" class="positionIcon">
<h5 class="heading">
 
<span> &nbsp; Time</span>

</h5>
<div style="clear: both;"></div>


  <ion-item class="border">
    <ion-label>Time</ion-label>
    <ion-select  [(ngModel)]="time_selected"  formControlName="time_selected" (ionChange)="timeselected(time_selected)">
        <ion-option    *ngFor="let item of time" value="{{item.label}}"> {{item.label}}</ion-option>
           
     
    </ion-select>
  </ion-item>

  <ng-container *ngFor="let validation of validation_messages.time_selected">
    <div class="error-message" *ngIf="todo.get('time_selected').hasError(validation.type) && (todo.get('time_selected').dirty || todo.get('time_selected').touched)">
        {{ validation.message }}
          </div>
      
   </ng-container>
</div>
<div>
<img   src="assets/serviceslogo/discription.png" class="positionIcon" >
<h5 class="heading" >
 
<span> &nbsp; Description</span>

</h5>
<div style="clear: both;"></div>

<ion-item class="border">
<ion-textarea  rows="1" [(ngModel)]="discripton" formControlName="discripton" maxLength="500"></ion-textarea>
<ng-container *ngFor="let validation of validation_messages.discripton">
  <div class="error-message" *ngIf="todo.get('discripton').hasError(validation.type) && (todo.get('discripton').dirty || todo.get('discripton').touched)">
      {{ validation.message }}
        </div>
    
 </ng-container>

</ion-item>
</div>
<button   type="submit" class="button-color"  style="width:100%;color:#fff;"  [disabled]="!todo.valid"  ion-button outline>Submit</button>
    
</form>
</div>
</ion-content>

